extends layout

block content
<<<<<<< HEAD
    each post in products
<<<<<<< Updated upstream
       
        a#TitleList(href='/blog/singlePost/'+post.id) #{post.name}
        br
        img(src=post.img width='300' height='300') 
        br
        p Amount: #{post.amount}
        
        p#Trya #{post.MHD[0].text} 
        button#DetailBtn(type='submit') Details
         
        p.lastentry 
=======
        a#TitleList(href='/blog/singlePost/'+post.ID) #{post.name}
        br
        img(src=post.img width='300' height='300') 
        br
        p Amount: #{post.amount}   
        p#love 
        script.
            MHD(#{post.MHD})
        button#DetailBtn(type='submit' value=post.id) Details
        p.lastentry 
>>>>>>> Stashed changes
=======
    each post in products  
            a#TitleList #{post.name}
            br
            img(src=post.img width='200' height='200') 
            br
            p Amount: #{post.amount}
            label(style= post.MHD[0].color) #{post.MHD[0].text}
            br
            br
            form(action='/nav/singleProduct/'+post.ID)
                input#single(type='submit' value= "Details" name="D")
            p ----------------------------------------------
            p.lastentry 
>>>>>>> 702c5531e4326b68921eea544e3bcb8be71ee605
