extends layout

block content
        script.
             
        img(src=ID.img width='400' height='400')
        br
        h1 #{ID.name}
        img(src=ID.barcode)
        h2 Menge: #{ID.amount} 
        button#plusOne(type = 'button' value=ID.amount) +
        button#minusOne(type = 'button' value=ID.amount) -
        h2 Inhaltsstoffe: 
        p #{ID.ing}
        h2 Nährwerte
        p #{ID.nutri}
        br
        br
        form(action='/nav/edit/'+ID.ID)
                input#editBtn(type='submit' value= "Edit") 
        button#deleteBtn(type = 'submit' value = ID.ID) Delete
        button(type ='submit' onclick="location.href='/nav/list'") List

